<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Site Example - @Page.Title</title>
        <link href="~/Scripts/jquery-ui/themes/pepper-grinder/jquery-ui.min.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/jquery-ui/jquery-ui.min.js"></script>
        
        @RenderSection("Scripts", required: false)
    </head>
    <body>
        <div id="page">
            <header>
                <p class="site-title"><a href="~/">Site Example</a></p>
                <nav>
                    <ul>
                        <li><a href="~/">3 селектора</a></li>
                        <li><a href="~/PageTable">Create Table</a></li>
                    </ul>
                </nav>
            </header>
            <div id="body">
                @RenderBody()
            </div>
            <footer>
                &copy;@DateTime.Now.Year - Сокоћало
            </footer>
        </div>
    </body>
</html>
 